%br
%table
  %tr
    %th Title
    %th Description
    %th Short_description
    %th phone1
    %th phone2
    %th email
    %th city
    %th address
    %th
  -@offers.each do |offer|
    %tr
      %td= offer.title
      %td= offer.description
      %td= offer.short_description
      %td= offer.phone1
      %td= offer.phone2
      %td= offer.email
      %td= offer.city
      %td= offer.address
      %td
      %td= link_to "Удалить",admin_offer_path(offer.id), :method => :delete
      %td= link_to "Изменить",edit_admin_offer_path(offer.id)

=link_to 'Назад', admin_categories_path