%table{:class=>"table table-striped"}
- @categories.each do |cat|
  %tr
    %td= link_to cat.title, admin_category_offers_path(cat), :class=>'btn btn-large btn-primary disabled'
    %td=l cat.created_at
    %td= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admin_category_path(cat), :class => 'btn btn-mini'
    = link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admin_category_path(cat),
                      :method =>:delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger'

  %br
= link_to t('.new', :default => t("Новый каталог")),
            new_admin_category_path(:id),
            :class => 'btn btn-primary'
= link_to t('Создать', :default => t("Создать обьявление")),
            new_admin_offer_path,
            :class => 'btn btn-group'
